body div
{
	background-color: white;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 25px;
	min-width: 750px;
}

body div div
{
	margin: 0;
	padding: 25px;
	box-shadow: -8px 9px 20px 9px black;
}

p
{
	margin-bottom: 5px;
}